<article class="sidebar">
  <h1 class="sidebar-title">Who can join?</h1>
  <ul class="sidebar-body">
    <li>Anybody interested in IT and the Developer industry</li>
    <li>Developers, Testers, It Help Desk and many more</li>
    <li>Those interested in meeting and making a connection with others in the corporate organization.</li>
  </ul>
</article><!-- article -->
